<!DOCTYPE html>
<html lang="en">
  {% include('includes/head.html') %}
  <body>
    {% include('includes/navbar.html') %}
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-12 p-3">
          <h3>Water Meter Dashboard History</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>Uploaded Image</th>
                <th>Cropped Image</th>
                <th>Result Text</th>
              </tr>
            </thead>
            <tbody>
              {% for index, row in df.iterrows() %}
              <tr>
                <td>{{ row['timestamp'] }}</td>
                <td>
                  <img src="{{ row['uploaded_image_path'] }}" width="100px" />
                </td>
                <td>
                  <img src="{{ row['cropped_image_path'] }}" width="100px" />
                </td>
                <td>{{ row['result_text']|safe }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-lg-12 p-3">
          <h3>Result Text Trend</h3>
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      var timestamps = {{ df['timestamp'].tolist()|tojson }};
      var resultTexts = {{ df['result_text'].tolist()|tojson }};

      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: timestamps,
          datasets: [{
            label: 'Result Text',
            data: resultTexts,
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
          }]
        },
        options: {
          scales: {
            x: {
              type: 'time',
              time: {
                unit: 'day'
              }
            },
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
    <!-- {% include('includes/footer.html') %} -->
  </body>
</html>
